.frame {
    position: relative;
    width: 100%;
    translate: 0 5.75rem;
    display: grid;
    place-items: center;
    scale: 1.2;
}

.grid {
    display: flex;
    gap: 0 0.625rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid.twoCol {
    grid-template-columns: repeat(2, 1fr);
}

.grid > div {
    position: relative;
    display: grid;
    place-items: center;
    width: 4.375rem;
    height: 7.5rem;
    margin-bottom: 10rem;
}

.grid.gridTwoCol > div {
    width: 6.875rem;
}

.grid > div > p {
    position: absolute;
    top: -0.625rem;
    left: 50%;
    translate: -50% 0;
    margin: 0;
}
