/* footer.module.css */

.footer {
  background-color: #101a2e;
  padding: 2rem;
  width: 100%;
  color: aliceblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.socialMedia {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.socialMedia svg {
  color: aliceblue;
  cursor: pointer;
  transition: color 0.3s;
}

.socialMedia svg:hover {
  color: #0073e6;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 2rem;
}

.footerLinks div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerLinks a {
  color: aliceblue;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}

.serviceCode {
  border: 1px solid aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.serviceCode:hover {
  background-color: aliceblue;
  color: #101a2e;
}

.copyright {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 1rem;
  }

  .socialMedia {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footerLinks div {
    align-items: center;
  }

  .serviceCode {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .copyright {
    margin-top: 1rem;
    text-align: center;
  }
}