/* Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* Social Login Section */
.login-form .social-login {
  margin-top: 1.25rem;
  text-align: center;
}

.login-form .social-login p {
  margin-bottom: 0.625rem;
}

/* Social Login Buttons Styles */
.login-form .social-login-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

.login-form .social-login-button {
  margin-right: 10px;
  width: 49px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%; /* Bo tròn hoàn toàn */
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Specific Social Login Button Styles */
.login-form .google-login {
  background-color: #db4437;
}

.login-form .facebook-login {
  background-color: #3b5998;
}

.login-form .twitter-login {
  background-color: #1da1f2;
}

/* Existing styles */

@media (max-width: 768px) {
  .login-form .social-login-buttons {
    flex-direction: column;
  }

  .login-form .social-login-button {
    margin-right: 0;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .login-form .social-login-buttons {
    flex-direction: column;
  }

  .login-form .social-login-button {
    margin-right: 0;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}
