.searchForm {
  display: flex;
  align-items: center;
  margin-right: 6rem;
}

.searchInput {
  width: 18.75rem; 
  padding: 0.625rem; 
  border: 0.0625rem solid #ccc; 
  border-radius: 0.3125rem 0 0 0.3125rem; 
  outline: none;
  background: transparent;
  backdrop-filter: blur(0.3rem);
  color: #fff;
}

.searchInput::placeholder{
  color:white;
  opacity:1;
}

.searchButton {
  padding: 0.625rem 1.25rem; 
  border: 0.0625rem solid #ccc; 
  border-left: none;
  border-radius: 0 0.3125rem 0.3125rem 0; 
  background-color: #fb5607;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.searchButton:hover {
  background-color: #333;
}

/* Existing styles */

@media (max-width: 768px) {
  .searchForm {
    margin-right: 3rem;
  }

  .searchInput {
    width: 15rem; /* Adjust width for tablets */
    padding: 0.5rem;
  }

  .searchButton {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .searchForm {
    margin-right: 1rem;
  }

  .searchInput {
    width: 12rem; /* Adjust width for mobile */
    padding: 0.4rem;
  }

  .searchButton {
    padding: 0.4rem 0.8rem;
  }
}
