.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0.5rem;
  z-index: 1000;
  padding: 0.625rem 1.875rem;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.hamburgerMenu {
  display: none;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.hamburgerMenu svg {
  font-size: 2rem;
  color: #fb5607;
}

.menu {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: #333;
  padding: 1rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.searchmobile{
  display: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navContainer {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    position: absolute;
    top:0;
    right: 0;
    margin-top: 2rem;
    margin-right: 1rem;
  }

  .searchmobile{
    justify-content: space-between;
    width: 5rem;
    margin-top: 1rem;
    display: flex;
    margin-left: 10rem;
  }

  .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11rem;
    gap: 5px;
  }
}

  

