/* Base styles for each genre section */
.genreSection {
  padding: 1.25rem; 
  background-color: #111;
  margin: 0.2rem 0; 
  width: 100dvw;
}

/* Container for the title and explore button */
.titleContainer {
  font-family: 'Hatton', sans-serif;
  display: inline-block;
  position: relative;;
}

.titleContainer:hover .exploreButton {
  display: inline-block;
}

.titleContainer:hover h2 {
  cursor: pointer;
}

/* Styling for genre section headings */
.titleContainer h2 {
  font-family: 'Hatton', sans-serif;;

  display: inline-block;
  color: #fff;  
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
  transition: color 0.3s;
}

/* Styling for the explore button */
.exploreButton {
  display: none;
  color: #00aaff;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;
}

.exploreButton:hover {
  opacity: 0.8;
}

/* Container for the list of genres */
.genreList {
  display: flex;
  gap: 1.25rem; 
  overflow-x: scroll;
  padding-bottom: 0.625rem; 
  position: relative;
  overflow: hidden;
  padding: 0 2.5rem; 
}

.item {
  flex-shrink: 0;
  width: 12rem; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 18rem; 
  position: relative;
  overflow: visible; 
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageContainer .watchButton {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 2.5rem;
  background-color: #fb5607;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding-left: 0.1rem;
  font-weight: 600;
  transition: all 0.4s ease;
  margin-bottom: 0.625rem;
}

.imageContainer:hover .watchButton {
  opacity: 1;
  visibility: visible;
}

.hoverSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.4s ease;
  z-index: 10;
  transform-origin: top; 
}

.item:hover .hoverSection {
  opacity: 1;
  visibility: visible;
  transform: scale(1.3); 
  z-index: 20; 
}

.hoverSection .topSection {
  height: 40%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverSection .bottomSection {
  height: 60%;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hoverSection .topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hoverSection .watchButton {
  margin-bottom: 0.4rem;
}

.hoverSection .genre {
  margin-top: 0;
}

.genre {
  font-size: 0.7rem;
}

.hoverSection:hover {
  transform: scale(1.3);
}

.seeMore {
  color: #fb5607;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.seeMore:hover {
  text-decoration: underline;
}

.content {
  color: #fff;
  text-align: center;
  padding: 0.625rem 0; 
  width: 100%;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 1.1rem;
}

.prevGenre, .nextGenre {
  background:transparent;
  border: none;
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
  width: 2rem; 
  height: 4.0625rem; 
  font-size: 2.5rem;
  top: 50%; 
  transform: translateY(-50%);
}

.prevGenre:hover, .nextGenre:hover {
  color: #fb5607;
}

.prevGenre {
  position: absolute;
  left:0; 
}

.nextGenre {
  position: absolute;
  right: 0; 
}

.genreItems {
  display: flex;
  gap: 1.25rem; 
  overflow-x: hidden;
  overflow-y: hidden;
  width: calc(100% - 5rem); 
  padding-bottom: 0.625rem; 
  padding: 0 1.5rem;
}

.genreItems::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.buttonComb {
  display: flex;
  flex-direction: row;
  margin-top: 0.4rem;
}

.watchButton, .addToFavoritesButton, .symbolicStarContainer {
  position: relative;
  bottom: 0.625rem; 
  left: 0;
  transition: background-color 0.3s ease;
  background-color: #fb5607;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.watchButton:hover, .starContainer:hover{
  background-color: #333;
}

.addToFavoritesButton {
  position: relative;
  bottom: 0.625rem; 
  left: 0.5rem;  
  transition: background-color 0.3s ease;
  background-color: #fb5607; 
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  cursor: pointer;
}

.addToFavoritesButton:hover {
  background-color: #666;
}

.starContainer{
  left: 0;
  transition: background-color 0.3s ease;
  background-color: #fb5607;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.starContainer .star {
  cursor: pointer;
  transition: color 0.2s;
  margin: 0;
  border: none;
  background-color: transparent;
}

.starContainer .star:hover,
.ratingContainer:hover .starContainer .star {
  color: orange;
}

.ratingContainer {  
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1rem;
  bottom:0.95rem;
}

.progressBar {
  margin-bottom: 0.5rem;
  position: relative;
  left: 0;
  height: 5px;
  background-color: red;
  width: 100%;
  /* Adjust color and height as needed */
}

.progressBarHover {
  position: absolute;
  top:40%;
  left: 0;
  height: 5px;
  background-color: red;
  width: 100%;
}

.posterRanking {
  font-family: 'Hatton', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent background */
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .genreSection {
    padding: 0.625rem;
  }

  .titleContainer h2 {
    font-size: 1.25rem;
  }

  .exploreButton {
    font-size: 0.875rem;
  }

  .genreList {
    gap: 0.625rem;
  }

  .item {
    width: 8rem;
    height: 12rem;
  }

  .imageContainer {
    height: 10rem;
  }

  .hoverSection {
    font-size: 0.875rem;
  }

  .genre{
    display: none;
  }

  .watchButton,
  .addToFavoritesButton,
  .starContainer {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }

  .progressBar,
  .progressBarHover {
    height: 3px;
  }

  .posterRanking {
    font-size: 1rem;
    padding: 0.25rem;
  }
}